@font-face {
  font-family: Montserrat-light;
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
}

.prof {
  background-color: #E4E4E4;
  padding: 0px !important;
}
   
.card-name {
  text-align: center;
  padding-top: 40px;     
}
  
.card-title {
  width:55%;
  margin-left: 250px;
}
  
.img-circ {
  border-radius: 50px;
  width: 100px;
  background-color: white;
  margin-left: 100px;
  text-align: center;
  position:relative;
  left:450px;
  height: 100px;
  top: 50px;
  z-index: 5; 
  border: 4px solid #F5F5F5; 
}

.img-face {
  width:45px;
  margin-left: 0px;
  padding-top: 17px;
}

.fa-map-marker {
  color: rgb(232, 238, 232);
  padding-left: 20px;
}

.card-add {
  background-color: #FFFFFF;
  border: white;
  height: 420px;
}

.userdetails {
  width: 55%;
  margin-left: 250px;
  margin-top:20px;
  height: 420px;
}

.add-details {
  background-color: #dfdbdb ;
  height: 300px;
  padding-top: 10px;  
}

.textfield {
  margin-top: 10px;
  width: 250px;
  margin-left: 50px;
  font-weight: 500;
}

.textfield-bg {
  margin-top: 10px;
  width: 250px;
  margin-left:10px ;
  font-weight: 500;
}

.button-bg {
  margin-top: 25px;
  height:35px;
  margin-left: 103%;
  border-radius: 2px;
  background-color: #83A43E;
  padding:3px 43px;
  font-size: 16px;
  border: #83A43E;
  &:hover {
    background-color: #72a10a;
    color: #f7f4f5;
  }
}

.cancel-add {
  color: #EB1A42;
  margin-top: -35px;
  float: right;
  margin-right: -70%;
  padding-right: 42px;
  font-family: "montserrat-light";
  font-weight: bolder;
  font-size: 15px;
  border-color: white;
  background-color: white;
  &:hover {
    background-color: white;
    color: #EB1A42;
    border-color: rgb(214, 21, 21);
  }
}   

.add-address {
  color:#83A43E;
  font-family: "Montserrat-light";
  font-weight: bolder;
  font-size: 12px;
}

.case-add {
  font-size: 11px;
  font-weight:bold;
  font-family: "Montserrat-light";
}

.fa-pencil-square-o {
  float: right;
  color: #83A43E;
  text-align: right;
  padding-right: 7px;
  padding-top: 5px;
}

.manage {
  font-weight: bolder;
  font-size: 13px;
}

.add-new {
 margin-left: 20px;
}

.addtocart-delete-btn {
  background-color: transparent;
  border-color: black;
  color: #615f5f;
  position: absolute;
  margin-left: 104%;
  margin-top: 15%;
  &:hover {
    background-color: white;
    color: #EB1A42;
    border-color: rgb(214, 21, 21);
  }
}

.addtocart-Buy-btn {
  background-color: transparent;
  border-color: black;
  color: #615f5f;
  position: absolute;
  margin-left: 42%;
  margin-top: 15%;
  &:hover {
    background-color: #83A43E;
    color: white;
    border-color: #83A43E;
  }
}

.textfield-area {
  margin-left: -100px;
  margin-top: 10px;
  width: 250px;
  font-weight: 500;
}