@font-face {
  font-family: Montserrat-light;
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../Fonts/Roboto/Roboto-Bold.ttf)
}

.main-footer {
  margin-top: 1rem;
  padding: 1rem;
  background-image:url(./footer_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-bottom { 
  text-align: center;
  font-size: 13px;
  margin-bottom: 0px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 0px;
  color: white;
  font-family: Montserrat-light;
} 

.footer-head {
  width: 70%;
  font-family: Montserrat-light;
}

.container {
  margin-top: 30px;
}

.list {
  margin-top: 20px;
  padding-top: 10px;
}

.link {
  font-family: Roboto-Bold;
  font-size: 18px;        
}

.support {
  margin-left: 20px;
  font-family: Roboto-Bold;
  font-size: 18px;    

}
  
.contact-us {
  margin-left: 100px;
  font-family: Roboto-Bold; 
  font-size: 18px;    
}
  
.home {
  padding-bottom: 15px;
  font-family: Montserrat-light;
}
  
.home1 {
  padding-bottom: 15px;
  padding-left: 5px;
  font-family: Montserrat-light;
}

.foo {
  padding-bottom: 15px;
  margin-left: 5px;
}
