@font-face {
  font-family: Montserrat-light;
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
}

.prof {
  background-color: #E4E4E4;
  padding: 0px !important;
}
 
.card-name {
  text-align: center;
  padding-top: 40px; 
}  

.title-user {
  width:60%;
  margin-left: 250px;
}

.img-circle {
  border-radius: 50px;
  width: 100px;
  background-color: white;
  margin-left: 100px;
  text-align: center;
  position: relative;
  left: 480px;
  height: 94px;
  top: 50px;
  z-index: 5;  
  border: 4px solid #F5F5F5;

}

.img-vector {
  width:45px;
  margin-left: 0px;
  padding-top: 17px;
}

.fa-map-marker {
  color: green;
  padding-left: 20px;
}

.card-address {
  background-color: #FFFFFF;
  border: white;
  height: 330px;
}

.user {
  width: 60%;
  margin-left: 250px;
  margin-top:20px;
}

.add {
  background-color: #F8F8F8 ;
  height: 40px;
  padding-left: 10px; 
  padding-top: 10px;  
}

.new-address {
  color:#83A43E;
  font-family: "Montserrat-light";
  font-weight: bolder;
  font-size: 15px;
  padding-left: 5px;
}

.address {
  background-color: #F8F8F8 ;
  margin-top: 10px;
  padding-left: 20px; 
  height: 100px;  
}

.add-text {
  padding-top: 5px;
}

.case-bg {
  font-size: 15px;
  font-weight:bold;
  font-family: "Montserrat-light";
  color: #555553;
}

.del {
  float: right;
  font-size: 13px;
  font-weight:normal;
  font-family: "Montserrat-light";

}

.del-address {
  float: right;
  font-size: 13px;
  font-weight:bold;
  font-family: "Montserrat-light";
  color: #83A43E;
  position: relative;
  bottom:22px;
}

.fa-trash {
  float: right;
  color: #CCB8B8;
  padding-right: 7px;
}

.fa-pencil-square-o {
  float: right;
  color: #CCB8B8;
  text-align: right;
  padding-right: 5px;
}

.fa-heart {
  padding-left:5px;
  padding-right: 7px;
}

.fa-heart-o {
  padding-left: 5px;
  padding-right: 7px;
}

.edit {
  padding-right: 7px;
  padding-top: 7px;
}