@font-face {
  font-family: Montserrat-light;
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
}
  
.prof {
  background-color: #E4E4E4;
  padding: 0px !important;
}
     
.card-name {
  text-align: center;
  padding-top: 50px;     
}
    
.title {
  width:55%;
  margin-left: 250px;
  text-align: center;
}
    
.img-round {
  border-radius: 55px;
  width: 97px;
  background-color: white;
  margin-left: 80px;
  text-align: center;
  position: relative;
  left: 450px;
  height: 90px;
  top: 50px;
  z-index: 7;  
  border: 4px solid #F5F5F5; 
}
  
.img-vec {
  width:35px;
  margin-left: -20px;
  position: absolute;  
  margin-top: -100px;
}
  
.fa-map-marker {
  color: green;
  padding-left: 20px;
}
  
.address-bg {
  background-color: #FFFFFF;
  border: white;
  height: 250px;
}
  
.userprof {
  width: 55%;
  margin-left: 250px;
  height:450px; 
}
  
.add-bg {
  background-color: #F8F8F8 ;
  height: 230px;
  margin-top: 20px;
  padding-top: 10px;  
}
  
.textfield {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 250px;
  margin-left: 15px;
  font-size: 500;
}
.textfield-mob {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 500;
}
  
.textfield-lname {
  margin-top: 10px;
  width: 250px;
  margin-left:10px ;
  font-size: 500;
}

.textfield-email {
  margin-top: 5px;
  width: 250px;
  margin-left:10px ;
}
  
.button {
  margin-top: 10px;
  height:28px;
  margin-left: 152px;
  padding: 2px 40px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #83A43E;
  border: #83A43E;
}
  
.cancel {
  color: #EB1A42;
  margin-top: 16px;
  float: right;
  margin-right: 70px;
  padding-right: 30px;
  font-family: "montserrat-light";
  font-weight: bold;
  font-size: 14px;
}   
  
.add-address {
  color:#83A43E;
  font-family: "Montserrat-light";
  font-weight: bolder;
  font-size: 12px;
}
  
.case {
  font-size: 11px;
  font-weight:normal;
  font-family: "Montserrat-light";
}
  
.fa-pencil-square-o {
  float: right;
  color: #CCB8B8;
  text-align: right;
}

.check {
  margin-top: 2px;
  margin-left: 10px;
  padding-right: 0px;
}

.gender {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 400;
} 

.check-bg {
  margin-left: 80px; 
  font-weight: 900;
  font-family: Montserrat;
  font-size: 15px;
  color: #000000;
} 

.cam-img {
  text-align: center;
  border-radius: 100px;
  z-index: 999999999;
  box-shadow: none;
  border: 1px solid #83A43E;
  position: relative;
  left: 338px;
  height: 30px;
  top: 22px; 
  width: 30px; 
}

.fa-camera {
  color: #83A43E;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: green !important;
}

.MuiTypography-body1 {
  font-size: 14px !important;
  margin-left: -5px !important;
}

.MuiIconButton-root:hover {
  background-color: unset !important;
}

.radio-btn-male {
  position: absolute;
  margin-left: 70px;
  margin-top: -24px;
}

.profile-radio-btn {
  position: absolute;
  margin-left: 20px;
}

.categories-grp-btn {
  color: rgb(177, 176, 176);
  margin-left: 30px;
  background-color: #fff;
  border-color: none;
  border-color: transparent;
  &:hover {
    background-color: #83A43E;
    color: #fff;
  }
  &:focus {
      border-color: none;
      box-shadow: none;
      outline: 0;
    }

}

.hompage-nav-loginbtn {
  color: #83A43E;
  border-color: darkolivegreen;
  width: 130%;
  &:hover {
    background-color: #83A43E;
    color: #fff;
  }
}


.nav-sign-btn {
  border-color: darkolivegreen;
  color: #83A43E;
  &:hover {
    background-color: #83A43E;
    color: #fff;
  }
}