body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Roboto','Montserrat';
  src: local('Roboto'),url(./Fonts/Roboto/LICENSE.txt) format('truetype'),local('Montserrat'),url(./Fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}